<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <a style="font-family: yellowtail;" class="navbar-brand bg-danger" href="#"
    >shaby-news</a
  >

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link  d-lg-inherit d-sm-none " href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>
</nav> -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <h3 style="font-family: yellowtail" class="text-danger">shaby-news</h3>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul style="margin-left: 50rem" class="navbar-nav ml-5">
      <li class="nav-item">
        <a class="nav-link text-white ml-5" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white ml-5" routerLink="us">US Politics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white ml-5" routerLink="covid">Covid 19</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white ml-5" routerLink="">Football</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white ml-5" href="world">World</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle ml-5 text-white"
          href="#"
          id="navbardrop"
          data-toggle="dropdown"
        >
          More
        </a>
        <div class="container-fluid">
          <div class="dropdown-menu bg-dark">
            <a class="dropdown-item text-white" href="#">Business</a>
            <a class="dropdown-item text-white" href="#">Health</a>
            <a class="dropdown-item text-white" href="#">Tech</a>
            <a class="dropdown-item text-white" href="#">Fashion</a>
            <a class="dropdown-item text-white" routerLink="weather">Weather</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div></div>
</nav>
