.nav-item:hover {
  opacity: 0.7;
}
.dropdown-item:hover {
  color: white !important;
}

@media (max-width: 768px) {
  .dropdown-menu {
    background-color: black !important;
    width: 100% !important;
    margin-left: -20px !important;
  }
  .dropdown-item:hover {
    color: blue !important;
  }
}
